.left {
  margin-left: 5vw;
  justify-content: center;
  /* flex: auto; */
  display: flex;
  flex-direction: column;
}

.right {
  margin-right: 5vw;
  margin-left: auto;
  justify-content: center;
  flex: auto;
  display: flex;
}

.left a {
  text-align: center;
  background-color: rgb(149, 209, 255);
  font-size: 20pt;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;

  padding-right: 10pt;
  padding-left: 10pt;
  border-radius: 5pt;
  color: black;
  margin-top: 20pt;
  margin-bottom: 20pt;
}

.left a:hover,
.left a:focus,
.left a:active {
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}
